VITE_FIREBASE_API_KEY=AIzaSyChUygjS8ysqYzCk6VjoGMa1YdR5C4L77s
VITE_FIREBASE_AUTH_DOMAIN=tracking-72393.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://tracking-72393-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=tracking-72393
VITE_FIREBASE_STORAGE_BUCKET=tracking-72393.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=701536417094
VITE_FIREBASE_APP_ID=1:701536417094:web:743f96fac5e92dd46da147

# Master Administrator Credentials & 2FA
VITE_MASTER_ADMIN_USERNAME=masteradmin
VITE_MASTER_ADMIN_PASSWORD=adminPassword2026!
VITE_MASTER_ADMIN_TOTP_SECRET=WASALTADMINSECRET
